In [28]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import math
import statsmodels.api as sm
import scipy.stats
from matplotlib.ticker import MultipleLocator
import matplotlib.pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split


# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/ee-769-assignment1/sample_submission.csv
/kaggle/input/ee-769-assignment1/test.csv
/kaggle/input/ee-769-assignment1/train.csv

In [29]:
df = pd.read_csv("/kaggle/input/ee-769-assignment1/train.csv")

In [30]:
x1 = df.drop(['Attrition','ID','EmployeeCount','EmployeeNumber'],axis = 1)
y = df[['Attrition']]
x= pd.get_dummies(x1, drop_first=True)
x.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,2,94,3,2,4,5993,...,0,0,0,0,0,1,0,0,1,1
1,49,279,8,1,3,61,2,2,2,5130,...,0,0,0,0,1,0,0,1,0,0
2,37,1373,2,2,4,92,2,1,3,2090,...,1,0,0,0,0,0,0,0,1,1
3,33,1392,3,4,4,56,3,1,3,2909,...,0,0,0,0,1,0,0,1,0,1
4,27,591,2,1,1,40,3,1,2,3468,...,1,0,0,0,0,0,0,1,0,0

In [31]:
regr2 = sm.OLS(y,x)
model = regr2.fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:              Attrition   R-squared (uncentered):                   0.393
Model:                            OLS   Adj. R-squared (uncentered):              0.366
Method:                 Least Squares   F-statistic:                              14.51
Date:                Fri, 28 Aug 2020   Prob (F-statistic):                    5.05e-79
Time:                        07:40:16   Log-Likelihood:                         -282.68
No. Observations:                1028   AIC:                                      653.4
Df Residuals:                     984   BIC:                                      870.5
Df Model:                          44
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Age                                  -0.0035      0.002     -2.274      0.023      -0.007      -0.000
DailyRate                         -6.367e-06   2.55e-05     -0.250      0.803   -5.64e-05    4.36e-05
DistanceFromHome                      0.0042      0.001      3.238      0.001       0.002       0.007
Education                             0.0067      0.010      0.654      0.513      -0.013       0.027
EnvironmentSatisfaction              -0.0435      0.009     -4.582      0.000      -0.062      -0.025
HourlyRate                           -0.0003      0.001     -0.596      0.551      -0.001       0.001
JobInvolvement                       -0.0615      0.015     -4.213      0.000      -0.090      -0.033
JobLevel                              0.0451      0.035      1.295      0.196      -0.023       0.113
JobSatisfaction                      -0.0312      0.009     -3.363      0.001      -0.049      -0.013
MonthlyIncome                     -1.761e-06   9.39e-06     -0.187      0.851   -2.02e-05    1.67e-05
MonthlyRate                        2.363e-06   1.45e-06      1.625      0.104    -4.9e-07    5.22e-06
NumCompaniesWorked                    0.0179      0.005      3.924      0.000       0.009       0.027
PercentSalaryHike                    -0.0024      0.004     -0.551      0.582      -0.011       0.006
PerformanceRating                     0.0438      0.040      1.084      0.279      -0.035       0.123
RelationshipSatisfaction             -0.0205      0.009     -2.163      0.031      -0.039      -0.002
StockOptionLevel                     -0.0231      0.017     -1.353      0.176      -0.057       0.010
TotalWorkingYears                    -0.0057      0.003     -1.950      0.051      -0.011     3.5e-05
TrainingTimesLastYear                -0.0080      0.008     -1.003      0.316      -0.024       0.008
WorkLifeBalance                      -0.0266      0.014     -1.837      0.067      -0.055       0.002
YearsAtCompany                        0.0072      0.004      2.027      0.043       0.000       0.014
YearsInCurrentRole                   -0.0115      0.005     -2.400      0.017      -0.021      -0.002
YearsSinceLastPromotion               0.0107      0.004      2.609      0.009       0.003       0.019
YearsWithCurrManager                 -0.0102      0.005     -2.151      0.032      -0.019      -0.001
BusinessTravel_Travel_Frequently      0.1507      0.040      3.734      0.000       0.072       0.230
BusinessTravel_Travel_Rarely          0.0864      0.035      2.469      0.014       0.018       0.155
Department_Research & Development     0.2761      0.131      2.109      0.035       0.019       0.533
Department_Sales                      0.2183      0.141      1.545      0.123      -0.059       0.496
EducationField_Life Sciences          0.0077      0.114      0.067      0.946      -0.215       0.231
EducationField_Marketing              0.0461      0.119      0.386      0.699      -0.188       0.280
EducationField_Medical                0.0026      0.114      0.023      0.982      -0.221       0.226
EducationField_Other                  0.0194      0.121      0.160      0.873      -0.218       0.257
EducationField_Technical Degree       0.0915      0.117      0.779      0.436      -0.139       0.322
Gender_Male                           0.0397      0.021      1.885      0.060      -0.002       0.081
JobRole_Human Resources               0.3912      0.127      3.089      0.002       0.143       0.640
JobRole_Laboratory Technician         0.1899      0.048      3.923      0.000       0.095       0.285
JobRole_Manager                       0.0482      0.081      0.598      0.550      -0.110       0.206
JobRole_Manufacturing Director        0.0133      0.048      0.277      0.782      -0.081       0.108
JobRole_Research Director            -0.0303      0.074     -0.408      0.684      -0.176       0.115
JobRole_Research Scientist            0.0918      0.048      1.910      0.056      -0.002       0.186
JobRole_Sales Executive               0.1354      0.089      1.526      0.127      -0.039       0.309
JobRole_Sales Representative          0.3461      0.098      3.530      0.000       0.154       0.538
MaritalStatus_Married                 0.0359      0.028      1.287      0.198      -0.019       0.091
MaritalStatus_Single                  0.1320      0.038      3.471      0.001       0.057       0.207
OverTime_Yes                          0.2267      0.023      9.940      0.000       0.182       0.271
==============================================================================
Omnibus:                      165.352   Durbin-Watson:                   2.008
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              247.787
Skew:                           1.150   Prob(JB):                     1.56e-54
Kurtosis:                       3.701   Cond. No.                     5.01e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.01e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [32]:
p=model.pvalues
max=p[1]
i=1
for i in range(len(x.columns)):
    if max<=p[i] and p[i]>=0.05:
        max = p[i]
        var=x.columns[i]
        if max >= 0.05:
            x=x.drop(var,1)

In [33]:
x.head()

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1,2,2,94,3,2,4,5993,8,...,0,0,0,0,0,1,0,0,1,1
1,49,8,1,3,61,2,2,2,5130,1,...,0,0,0,0,1,0,0,1,0,0
2,37,2,2,4,92,2,1,3,2090,6,...,1,0,0,0,0,0,0,0,1,1
3,33,3,4,4,56,3,1,3,2909,1,...,0,0,0,0,1,0,0,1,0,1
4,27,2,1,1,40,3,1,2,3468,9,...,1,0,0,0,0,0,0,1,0,0

In [34]:
#regr2 = sm.OLS(y,x)
#model = regr2.fit()
#print(model.summary())

In [35]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(x.values, i) for i in range(x.shape[1])]
vif["features"] = x.columns
vif_values=vif['VIF Factor']
vif_features=vif['features']
vif

    VIF Factor                           features
0    34.102182                                Age
1     2.326844                   DistanceFromHome
2     9.333553                          Education
3     7.468398            EnvironmentSatisfaction
4    11.543302                         HourlyRate
5    16.348165                     JobInvolvement
6    66.565459                           JobLevel
7     7.303124                    JobSatisfaction
8    57.208994                      MonthlyIncome
9     2.754240                 NumCompaniesWorked
10   44.688103                  PercentSalaryHike
11  155.736306                  PerformanceRating
12    7.515765           RelationshipSatisfaction
13    3.589733                   StockOptionLevel
14   15.990318                  TotalWorkingYears
15    5.694231              TrainingTimesLastYear
16   16.420789                    WorkLifeBalance
17   10.909132                     YearsAtCompany
18    6.901167                 YearsInCurrentRole
19    2.560465            YearsSinceLastPromotion
20    6.553903               YearsWithCurrManager
21    3.011464   BusinessTravel_Travel_Frequently
22    8.402911       BusinessTravel_Travel_Rarely
23   61.864429  Department_Research & Development
24   38.241271                   Department_Sales
25    2.398822       EducationField_Life Sciences
26    1.980198           EducationField_Marketing
27    1.221319               EducationField_Other
28    1.332362    EducationField_Technical Degree
29    3.540777            JobRole_Human Resources
30    4.005998      JobRole_Laboratory Technician
31    4.795205                    JobRole_Manager
32    2.282418     JobRole_Manufacturing Director
33    3.038548          JobRole_Research Director
34    4.523468         JobRole_Research Scientist
35   16.433450            JobRole_Sales Executive
36    5.133133       JobRole_Sales Representative
37    3.331740              MaritalStatus_Married
38    4.621585               MaritalStatus_Single
39    1.478130                       OverTime_Yes

In [36]:
def calculate_vif(x):
    thresh = 5.0
    output = pd.DataFrame()
    k = x.shape[1]
    vif = [variance_inflation_factor(x.values, j) for j in range(x.shape[1])]
    for i in range(1,k):
        print("Iteration no.")
        print(i)
        print(vif)
        a = np.argmax(vif)
        print("Max VIF is for variable no.:")
        print(a)
        if vif[a] <= thresh :
            break
        if i == 1 :          
            output = x.drop(x.columns[a], axis = 1)
            vif = [variance_inflation_factor(output.values, j) for j in range(output.shape[1])]
        elif i > 1 :
            output = output.drop(output.columns[a],axis = 1)
            vif = [variance_inflation_factor(output.values, j) for j in range(output.shape[1])]
    return(output)
x_new = calculate_vif(x)

Iteration no.
1
[34.10218205555263, 2.326843966084421, 9.333553416289465, 7.4683979808478425, 11.54330180605976, 16.348164644880764, 66.56545877926891, 7.303124406371204, 57.20899436596023, 2.7542398073074987, 44.688102940426, 155.7363060622331, 7.515765294512666, 3.589733023235297, 15.99031840764483, 5.6942308733683635, 16.420788532530477, 10.90913163774642, 6.9011674901373485, 2.560464674174169, 6.553902539084275, 3.011464001137403, 8.40291071467849, 61.86442871885709, 38.241271163311794, 2.398822324063658, 1.9801980488258608, 1.2213190469803152, 1.3323616580942017, 3.5407770968685344, 4.005997824032992, 4.795205343513126, 2.2824182422512127, 3.038548464180197, 4.5234679648693765, 16.43344967110564, 5.133132676763658, 3.3317395459622245, 4.621584941333124, 1.4781295443835698]
Max VIF is for variable no.:
11
Iteration no.
2
[34.05833403771793, 2.3252956324096306, 9.319536804150232, 7.430849088194978, 11.462862620533935, 16.189333058623834, 66.07761296162454, 7.283581306314085, 57.12428995568449, 2.753174917041993, 17.43955312233239, 7.460969086284201, 3.5721506487580204, 15.989004173683536, 5.686516246899156, 16.2143033855128, 10.907420250290878, 6.900656832450611, 2.560225473356005, 6.551110459333812, 2.98512432840419, 8.328142727667274, 52.26984880867254, 35.34255588548893, 2.3978201015661673, 1.9801492079634586, 1.2213188880790697, 1.331334253292411, 3.0257337226192944, 3.9124980560596296, 4.739634529413495, 2.269699508631338, 3.038013098743067, 4.468047422614166, 16.221019330239443, 5.071820209978922, 3.3188939291360264, 4.594158891526517, 1.475308464430155]
Max VIF is for variable no.:
6
Iteration no.
3
[34.008899398153176, 2.3189590027017615, 9.318578124546919, 7.413833497250523, 11.460196350778464, 16.16786940892346, 7.278531521751287, 25.028250580998037, 2.751398173408934, 17.439073924680834, 7.458529677724626, 3.5547850980366626, 15.531087766835793, 5.686046357938073, 16.093311642413152, 10.889629439089342, 6.897650689570674, 2.5593924701900908, 6.547297255741899, 2.9845289016457968, 8.328137807266653, 51.411971368472734, 35.11251185544373, 2.3949531646311875, 1.9801248560925144, 1.217276382729104, 1.331254815930278, 3.020266541240133, 3.817714771323041, 4.709000062518365, 2.2632285483369143, 2.9893769187563803, 4.289155147259808, 16.166253490795174, 5.061664135617213, 3.318465892603978, 4.581685460527401, 1.4737428515186959]
Max VIF is for variable no.:
21
Iteration no.
4
[32.66963355127332, 2.3134374931523496, 9.270057813285009, 7.259010985404545, 11.012896407842282, 15.42298666935025, 7.089092078757349, 24.263784312567157, 2.749621767921216, 15.907644019165495, 7.242255831747154, 3.5197203466911717, 15.276828106942991, 5.602192080501937, 15.230097056031495, 10.88213594498018, 6.879466925084744, 2.5546055001154033, 6.543458307850077, 2.9194548635674265, 8.063336997502574, 18.34045460300361, 2.3709666600129142, 1.9797078905144583, 1.2110503825587502, 1.3248621675968155, 1.3692213556416009, 3.5759607424214033, 4.524749648356566, 2.2132674978319518, 2.988599015888596, 4.059336296306486, 16.090655287289152, 5.060226793697686, 3.2726437545011406, 4.515179784285527, 1.4709600046792197]
Max VIF is for variable no.:
0
Iteration no.
5
[2.3134370818491523, 9.0267321937822, 7.194848102804672, 10.921815909498092, 15.064375615204758, 7.026342807970782, 24.224308571283892, 2.6940370033624443, 15.600511261328966, 7.1763967113805425, 3.51618575641644, 11.446812477928603, 5.539877458976327, 15.139229758591899, 10.855782546086779, 6.87317045391385, 2.554465730726077, 6.531529357722557, 2.911052113829495, 8.03927411436035, 18.32439100474883, 2.35863512037159, 1.9709441263879703, 1.210485634620827, 1.323457904013321, 1.3579284355290049, 3.54738727495172, 4.5238680766200146, 2.205666538260659, 2.982126892767529, 4.024586667924697, 16.042983043054136, 5.043764437357226, 3.25003177426879, 4.512349276327527, 1.4638283131475052]
Max VIF is for variable no.:
6
Iteration no.
6
[2.3086227595792486, 9.013097489884803, 7.1475590261415665, 10.816722229845194, 15.047357336629203, 6.98364620964493, 2.694033695916309, 15.466219358605438, 7.154263076150288, 3.5047442325297804, 8.482555624532607, 5.531338094357242, 14.976578314133224, 10.797621574863816, 6.868704106282024, 2.545012621488026, 6.504536571669039, 2.8930445577998274, 8.01609655526554, 18.23968542349895, 2.3510734005576666, 1.9663985087997766, 1.2077752187087996, 1.3159444339782131, 1.343808645985205, 3.1418191082521854, 2.7810776886025024, 2.195543865191075, 1.8152282648015035, 3.526476124525373, 15.92983671325961, 4.987607910336847, 3.2416425827312754, 4.493207927062962, 1.4629914671537725]
Max VIF is for variable no.:
19
Iteration no.
7
[2.3077900351155107, 9.013058893052225, 7.1249212074401616, 10.80731026819449, 14.998854217750058, 6.969668350811364, 2.689377879601721, 15.452410452359437, 7.150619688788806, 3.4990502176784393, 8.481212858812606, 5.526785415994016, 14.973247279734352, 10.794339428279624, 6.844265692490558, 2.5174814499404103, 6.504447642465312, 2.89300653733617, 8.012667153563884, 2.341466902117492, 1.8820726233710503, 1.2074293203243456, 1.3121793907110375, 1.3436739813270708, 3.1412130177670172, 2.2030453326488257, 2.194647390990865, 1.8143599288784589, 3.5256552776938994, 3.9938617351457646, 1.8873523088324469, 3.241640788314976, 4.492716902244395, 1.462876366465617]
Max VIF is for variable no.:
7
Iteration no.
8
[2.2937816310123065, 8.963544734717733, 7.111326135401057, 10.630025724988794, 14.748932062735452, 6.87045424293055, 2.6841871319068424, 7.124744892507837, 3.476008464714585, 8.465988969648958, 5.495150604600607, 14.72787138685394, 10.790486585026292, 6.8389653363218725, 2.5174788863833357, 6.503686055320387, 2.858720191562855, 7.914864230736347, 2.3359318080166647, 1.881902581633645, 1.204824915771994, 1.311847720872053, 1.3361913847461528, 3.0871247895336853, 2.195349023954784, 2.16310964564393, 1.8101223439310354, 3.452641424496315, 3.955306428583222, 1.8646910750168986, 3.2082052146374567, 4.440495930447294, 1.4627266221205917]
Max VIF is for variable no.:
4
Iteration no.
9
[2.27061572555504, 8.865458612689238, 7.007457812548853, 10.316262914978475, 6.825045273311614, 2.6810630123046484, 6.94512109116897, 3.4654455826833024, 8.462850585344642, 5.482010224648169, 14.490619533126035, 10.783209119070383, 6.8389062500124185, 2.515972413919516, 6.462874953716533, 2.813877771538675, 7.730327856392602, 2.3358394579132917, 1.8808043522793565, 1.2041021583227085, 1.3118424451800947, 1.3266446793276871, 3.0456997091341527, 2.1789894200529276, 2.1458291333513357, 1.7916444582945394, 3.373063462654603, 3.884676653823622, 1.8502477797465589, 3.1922900146298008, 4.438832587720928, 1.4626771316509817]
Max VIF is for variable no.:
10
Iteration no.
10
[2.2705483611732475, 8.745087102035823, 6.859795033871023, 10.009717497248218, 6.8053449944454165, 2.677383162279728, 6.826800329886994, 3.4149453718043414, 8.45612146472954, 5.38994292312484, 10.772862578580668, 6.832909759513703, 2.5159219247771856, 6.458728585547151, 2.787334165056825, 7.671115089307165, 2.333977704568791, 1.8807573403113205, 1.1996384179122925, 1.3077426125577025, 1.2973467123787692, 2.9575953752118616, 2.1496866185103882, 2.084955139348832, 1.7554949167794782, 3.274385385636287, 3.72602416972782, 1.7875762373768938, 3.1485264596621327, 4.322712426770156, 1.4606550792029993]
Max VIF is for variable no.:
10
Iteration no.
11
[2.2664273497199576, 8.732503076623654, 6.8584853669381864, 9.982625450112465, 6.801420153467784, 2.540125098591885, 6.817949782310024, 3.414724597144323, 7.130592232366549, 5.384756074184997, 5.831851919716025, 2.3402367754099034, 5.288067345873637, 2.786999070995216, 7.669947497675096, 2.3315335650334243, 1.8800592025419482, 1.1994458866075683, 1.301092387921179, 1.297245899857227, 2.9575930689730874, 2.132096526443305, 2.075881268551116, 1.750561112041641, 3.2743168949417707, 3.724301204981108, 1.787277965164574, 3.1419508424222244, 4.318174766735732, 1.4594764334295658]
Max VIF is for variable no.:
3
Iteration no.
12
[2.2355767667874957, 8.555285445506236, 6.835206594143127, 6.788907861831367, 2.532342910240258, 6.723508616523891, 3.350051301568233, 7.099119289573498, 5.338064262136764, 5.831776277418464, 2.336807985391431, 5.287194133499608, 2.7552403255280846, 7.5034461588017445, 2.3054106503802356, 1.8780363237477682, 1.199142987790001, 1.291142053881422, 1.2942169890141042, 2.9134863857145827, 2.1199367843048615, 2.063707653110466, 1.7466148219804771, 3.2051837553129277, 3.6855983181613485, 1.768945415341243, 3.077195255880605, 4.2286200888153855, 1.4594152178477535]
Max VIF is for variable no.:
1
Iteration no.
13
[2.224620827371552, 6.7586348189140555, 6.711433174224828, 2.479200867402381, 6.651162979554867, 3.3093219998809538, 7.021325547950546, 5.320147989359062, 5.831639340584126, 2.3337958840237927, 5.276061887155579, 2.735689112080825, 7.418397116650195, 2.2745241959881555, 1.855096113189875, 1.1789750736389593, 1.2907876137069867, 1.2846063507295487, 2.8784591755696645, 2.118874559841698, 2.046143407423428, 1.7289976462667953, 3.1500459886878196, 3.648965136596916, 1.7662098336641368, 3.062951918519195, 4.160824245955632, 1.4592508311432264]
Max VIF is for variable no.:
12

Iteration no.
14
[2.224549960945077, 6.646985075512922, 6.643938944520588, 2.4750417256064914, 6.567500212338431, 3.288944777698536, 6.88077516536713, 5.202816581466189, 5.8174009900658765, 2.331137109059377, 5.275303502803552, 1.2645953201352997, 2.259598785841497, 1.8329131847637243, 1.1724767227751751, 1.2827205057625977, 1.2515301261539873, 2.7793333048653492, 2.1145164821336078, 1.997424931423129, 1.7046839301708943, 2.9782955849080652, 3.60434193941986, 1.72382115104692, 2.988821114695802, 4.098174408832787, 1.4566096793725827]
Max VIF is for variable no.:
6
Iteration no.
15
[2.2171316446711646, 6.581091063059475, 6.590632274417191, 2.149173322443807, 6.49994025276591, 3.288623600511206, 5.18307825441088, 5.714370467842029, 2.29407267567447, 5.041088823073616, 1.2602407918866667, 2.2595778966378255, 1.8315816032759298, 1.1724200752671488, 1.2827100763423207, 1.2471363341437114, 2.7270305595291884, 1.8490434559978826, 1.9952611744701176, 1.58057085796779, 2.9225774352149516, 3.5919412062327765, 1.6772151325389453, 2.9733291752572004, 4.093340227931463, 1.4552863642917808]
Max VIF is for variable no.:
2
Iteration no.
16
[2.2083777718483515, 6.426968425687191, 2.148937839072548, 6.365846633885194, 3.1747800893159863, 5.109307533325312, 5.704308628840946, 2.2937067406699554, 5.040130060146045, 1.2601900382817233, 2.2310718824311713, 1.8315398615262355, 1.1683465500885568, 1.279684958410396, 1.2453627398017215, 2.6799709387582915, 1.8375993872514351, 1.9757062398864098, 1.5609988348604773, 2.871676486381344, 3.533617488938062, 1.6634187293224443, 2.892703790912118, 3.9106300741566415, 1.4551739171607843]
Max VIF is for variable no.:
1
Iteration no.
17
[2.2036962682777075, 2.125118084764135, 6.2154134453868695, 3.076498344522765, 5.052631223675863, 5.680489000721485, 2.29239081436108, 5.040119606314046, 1.2601896012542269, 2.214902729781654, 1.8258028533804358, 1.1564332809583773, 1.2661576039204347, 1.237209209772218, 2.6112912353687663, 1.8098970356821682, 1.8932648791213544, 1.5564386592153299, 2.7889520446410754, 3.469026259117633, 1.6295291334391955, 2.8243818255514404, 3.776102095614829, 1.4329258419788815]
Max VIF is for variable no.:
2
Iteration no.
18
[2.1850331056551178, 2.0784077372848504, 3.014132655675111, 4.928469932372723, 5.680109331845088, 2.2824591077697125, 5.032816725137273, 1.2573963386363276, 2.204099722259164, 1.816468711438718, 1.154162184061079, 1.265425467611583, 1.1945529204403775, 2.4862870845156984, 1.751126623919752, 1.8170127311744257, 1.5186011703258089, 2.627570491529523, 3.3505250442330166, 1.596039369572007, 2.767437251448882, 3.6150720384045445, 1.4193084228578203]
Max VIF is for variable no.:
4
Iteration no.
19
[2.1833768812103456, 2.0773643735739626, 2.986981008028955, 4.92843274551971, 2.053718233781965, 3.275283953679833, 1.2568116635441653, 2.191337364313781, 1.814268842836498, 1.150004779083309, 1.263469749566384, 1.191556927853719, 2.481723670601823, 1.7461112174974596, 1.806547351191268, 1.5022570004524967, 2.6275184159295915, 3.3475135111593834, 1.5940952466597147, 2.7376170991250626, 3.5895049102980443, 1.4193076037313324]
Max VIF is for variable no.:
3

In [37]:
x_new.head()

,DistanceFromHome,NumCompaniesWorked,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel_Travel_Frequently,EducationField_Life Sciences,EducationField_Marketing,EducationField_Other,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,1,8,0,0,0,5,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
1,8,1,1,3,1,7,1,1,0,0,...,0,0,0,0,1,0,0,1,0,0
2,2,6,0,3,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,1
3,3,1,0,3,3,0,1,1,0,0,...,0,0,0,0,1,0,0,1,0,1
4,2,9,1,3,2,2,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [38]:
x_train,x_test,y_train,y_test = train_test_split(x_new,y,test_size=0.25,random_state=0)

In [39]:
from sklearn.linear_model import LogisticRegression
logistic_regression= LogisticRegression()
logistic_regression.fit(x_train,y_train)
y_pred=logistic_regression.predict(x_test)

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [40]:
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
random_forest = RandomForestClassifier(n_estimators = 3000, criterion = 'entropy', random_state = 0)
random_forest.fit(x_train,y_train)
y_pred2=random_forest.predict(x_test)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [41]:
from sklearn import metrics
print('Accuracy: ',metrics.accuracy_score(y_test, y_pred2))

Accuracy:  0.8560311284046692

In [42]:

from sklearn.svm import SVC
svc = SVC(kernel = 'rbf')

svc.fit(x_train, y_train) 
y_pred4=svc.predict(x_test)

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [43]:
from sklearn.tree import DecisionTreeClassifier 
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=10, min_samples_leaf=2) 
clf_gini.fit(x_train,y_train)

y_pred3=clf_gini.predict(x_test)

In [44]:
df_test = pd.read_csv('/kaggle/input/ee-769-assignment1/test.csv')
x_test = df_test.drop(['ID','EmployeeCount','EmployeeNumber',],axis = 1)
X= pd.get_dummies(x_test)

M=X.loc[:,list(x_new.columns)]
M

,DistanceFromHome,NumCompaniesWorked,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel_Travel_Frequently,EducationField_Life Sciences,EducationField_Marketing,EducationField_Other,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,9,3,2,2,0,7,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
1,8,1,1,5,9,9,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,9,4,1,1,4,3,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,2,2,0,2,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,1
4,1,1,0,2,4,7,1,1,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,23,4,1,3,0,3,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
437,6,4,1,5,1,7,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
438,4,1,1,0,0,3,0,1,0,0,...,0,0,1,0,0,0,0,1,0,1
439,2,2,0,3,0,8,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
440,8,2,0,3,1,2,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [45]:
y_pred =random_forest.predict(M)

In [46]:
output=pd.DataFrame(data={"ID":df_test["ID"],"Attrition":y_pred})
output.to_csv('outputra.csv',index=False)

In [47]:
output=pd.DataFrame(data={"ID":df_test["ID"],"Attrition":y_pred})
output.to_csv('output.csv',index=False)